
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-item nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      
        </div>
</nav>




<h1>2021 Client Application for worksheets
</h1>
<router-outlet></router-outlet>


