<form [formGroup]="movieForm" (ngSubmit) = "onSubmit()" >

    <div>
        <label for="title"> Title</label>
        <input id="title" type="text" formControlName="title">
    </div>
    <div>
        <label for="year"> Year Written</label>
        <input id="year" type="text" formControlName="year">
    </div>

    <button type="submit" [disabled]= "!movieForm.valid" >Submit</button>
    
    </form>

    <div *ngIf="title?.invalid && title?.touched"  class="alert alert-danger" >
        Title is required and must be at least 4 letters
    </div>

    <div *ngIf="year?.invalid && year?.touched"  class="alert alert-danger" >
        Year is required and must be 4 numbers
    </div>
    
